.logo-font{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: black;
    text-decoration: solid;
}

.logo-font:hover{
    text-decoration: none;
    color: black;
}
