.logo-font{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 40px;
    text-decoration: none;
    color: black;
    text-decoration: solid;
}

.logo-font:hover{
    text-decoration: none;
    color: black;
}

.navab-font{
    font-family: 'Bebas Neue', sans-serif;
    font-family: 'Nunito', sans-serif;
}

.hider-font{
    font-family: 'Bebas Neue', sans-serif;
    font-size: 30px;
    text-decoration: none;
    color: black;

}
